<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<nav th:fragment="header" class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a href="/" th:href="@{/}" class="navbar-brand">Library Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto" sec:authorize="isAuthenticated()">
        <li class="nav-item ml-2">
          <a href="/" th:href="@{/}" class="nav-link active">Home</a>
        </li>
        <li class="nav-item dropdown ml-2">
          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
             data-toggle="dropdown" aria-expanded="false">Browse</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Subjects</a></li>
            <li><a class="dropdown-item" href="#">Lists</a></li>
            <li><a class="dropdown-item" href="#">Advanced Search</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown ml-2">
          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown2" role="button"
             data-toggle="dropdown" aria-expanded="false">My Account</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <li><a class="dropdown-item" href="#">My Loans</a></li>
            <li><a class="dropdown-item" href="#">My Reading Log</a></li>
            <li><a class="dropdown-item" href="#">My List</a></li>
          </ul>
        </li>
        <form class="d-flex ml-2" th:action="@{/logout}" method="post">
          <button class="btn btn-outline-danger" type="submit">Logout</button>
        </form>
      </ul>
      <div class="d-flex ml-auto" sec:authorize="isAnonymous()">
        <a href="/" th:href="@{/login}" class="btn btn-outline-light mr-3">Log in</a>
        <a href="/" th:href="@{/register}" class="btn btn-light">Register</a>
      </div>
    </div>
  </div>
</nav>
</body>
</html>