<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>

  <title>Welcome to Library Manager</title>
</head>
<body>
<div layout:fragment="content">
  <div class="alert alert-success mx-auto" th:if="${param.logout}" style="max-width: 35rem">
    Logged out successfully
  </div>
  <div class="card mx-auto" style="max-width: 35rem">
    <div class="card-header text-center"><h3>Login</h3></div>
    <form th:action="@{/login}" method="post" class="py-4 px-3">
      <div class="form-group mb-3">
        <label for="emailInput" class="form-label">Email address</label>
        <input type="email" class="form-control" id="emailInput"
               aria-describedby="emailHelp" placeholder="Enter email" name="username">
      </div>
      <div class="form-group mb-3">
        <label for="passwordInput" class="form-label">Password</label>
        <input type="password" class="form-control" id="passwordInput"
               placeholder="Password" name="password">
      </div>
      <button type="submit" class="btn btn-dark btn-block">Login</button>
    </form>
    <div class="card-footer">
      <small>New User? <a th:href="@{/register}">Sign up</a></small>
    </div>
  </div>
</div>
</body>
</html>