<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8" content="width=device-width initial-scale=1, schrink-to-fit=no">
  <title>Library Manager</title>
  <!-- CSS only -->
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
        crossorigin="anonymous">
  <style>
    .min {
      min-height: 75vh;
    }
  </style>
</head>
<body>
<!-- Main Navigation Start-->
<nav th:insert="~{fragments/header::header}">Header goes here</nav>
<!-- Main Navigation End -->

<!-- Content Start -->
<section layout:fragment="content" class="min container my-5">
  Content goes here
</section>
<!-- Content End -->

<!-- Footer Starts-->
<footer th:insert="~{fragments/footer::footer}">Footer goes here</footer>
<!-- Footer Ends-->

<!-- Javascript Section -->
<!-- JavaScript and dependencies -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>

</body>
</html>